<% if (htmlWebpackPlugin.options.doctype != null && htmlWebpackPlugin.options.doctype !== false) { %>
<!DOCTYPE <%= htmlWebpackPlugin.options.doctype %>>
<% } %>
<html>
  <head>
    <meta charset="UTF-8">
    <% if (htmlWebpackPlugin.options.title != null && htmlWebpackPlugin.options.title !== false) { %>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% } %>
  </head>
  <body>
  </body>
</html>
