doctype html
html
  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title Demo
  body
    p Some unique text
    each jsFile in htmlWebpackPlugin.files.js
      script(src!=jsFile)
